.login{
float: right;
border-radius: 5px;
height: 40px;
width: 100px;
margin-right: 25px;
margin-top: 20px;
}

.singin{
    float: right;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    margin-right: 25px;
    margin-top: 20px;
    }